# Python Bytecode
__pycache__/
*.py[cod]
*.pyo

# Logs and Debug Files
*.log
*.out
*.err

# IDE Configurations
.vscode/
.idea/

# OS-Specific Files
.DS_Store
Thumbs.db


# Test Outputs
*.coverage
.cache/
pytest_cache/

api_key.txt
.env
testing.py